.Root {
  display: block;
  padding: 20px;
}

.Inline {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.Heading {
  @include font(900);
  display: block;
  flex: 0 0 auto;
  font-size: 40px;
  margin: 0 0 20px;
}

.Columns {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.Column {
  flex: 1 0 0;
}
